header{
    width: 100%;
    height: 5rem;
    background-color: #161B22;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding: 20px 220px;
    align-items: center;

}

header ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #F8F9FA;
    font-weight: 700;
}

header a:hover{
    color: #433b47;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background: #F8F9FA;
    border-radius: 2px;
}