* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-color: #F8F9FA;
    color: var(--dark);
    line-height: 1.6;
}

/* Navegación */

header{
    width: 100%;
    height: 100px;
    background-color: #161B22;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding: 20px 390px;
    align-items: center;
    
}

header ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #F8F9FA;
    margin-left: 20px;
    font-weight: 700;
}

header a:hover{
    color: #433b47;
}

main{
    padding-top: 50px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
/* Hero Section */
.hero {
    height: 100 vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
    background: linear-gradient(135deg, #fff 0%, #e2e8f0 100%);
}

 h1 {
    font-size: 2rem;
    margin-bottom: 8px;
    
}

div {
    text-align: center
}

p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #0e0d0d;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Secciones Generales */
section {
    padding: 80px 10%;
}

h2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom: 3px solid var(--primary);
    display: inline-block;
    width: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Botones y Enlaces */
.btn {
    background: var(--primary);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.linkedin-btn {
    background: #8419cb;
    margin-top: 20px;
}

/* Contacto */

/* .contact_box {
    text-align: center;
} */

.form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact_div{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.names{
    display: flex;
    gap: 20px;
}

label {
    font-family: 'Poppins', sans-serif;   
}

.name_box{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.lastname_box{
   width: 50%;
   display: flex;
   flex-direction: column;
   text-align: start;
}

.email_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}



.mensaje_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.send_button{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    padding: 20px;
}

.button_send{
    background-color: #000000;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'Inter', sans-serif;
}



footer {
    color: rgb(0, 0, 0);
    background-color: #161B22;
    padding: 10px 390px;
    box-shadow: 0 4px 6px rgba(108, 96, 96, 0.05);
    text-align: center;
    width: 100%;
    /* max-width: 100%; */
    height: 100px;
}
footer a, footer p  {
    color: #F8F9FA;
}

footer a:hover{
    color: #433b47;
}

footer ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}
